<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="cg-status-indicator">
	<template>
		<style is="custom-style" include="iron-flex">
			:host {
				display: inline-block;
				margin-left: 0.1em;
			}
			#indicatorText {
				font-size: medium;
				padding-left: 0.5em;
			}
			#indicatorIcon {
				border-radius: 50%;
				width: var(--cg-status-indicator-size, 14px);
				height: var(--cg-status-indicator-size, 14px);
				border: 2px solid rgba(255, 255, 255, .25);
			}
			#indicator {
				position: relative;
				display: inline-block;
			}
			#indicatorTooltip {
				visibility: hidden;
				background-color: #000;
				font-size: 0.9em;
				color: #fff;
				text-align: center;
				position: absolute;
				z-index: 1;
				padding: 0.2em 0.5em;
				border-radius: 0.8em;
				opacity: 0.75;
			}
			#indicator:hover #indicatorTooltip {
				visibility: visible;
			}
		</style>
		<div id="indicator">
			<div class="layout horizontal center-center">
				<div id="indicatorIcon"></div>
				<div id="indicatorText"><content></content></div>
			</div>
			<div id="indicatorTooltip">[[tooltip]]</div>
		</div>
	</template>
	<script>
		Polymer({
			is: 'cg-status-indicator',
			properties: {
				color: {
					type: String,
					value: 'black'
				},
				tooltip: String
			},
			observers: ['_colorChanged(color)', '_tooltipChanged(tooltip)'],
			ready() {
				// _tooltipChanged will not get called the first time... when the tooltip is unset and it is most needed
				this._tooltipChanged(this.tooltip)
			},
			_colorChanged(color) {
				this.$.indicatorIcon.style.backgroundColor = color
			},
			_tooltipChanged(tooltip) {
				if (tooltip) {
					// There *is* a tooltip, make it displayable!
					this.$.indicatorTooltip.style.display = 'unset'
				} else {
					// No tooltip, hide the tooltip box
					this.$.indicatorTooltip.style.display = 'none'
				}
			}
		})
	</script>
</dom-module>
