<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="log-item.html">
<link rel="import" href="../../lib/style.html">

<dom-module id="cg-log-window">
	<template>
		<style>
			:host {
				display: block;
			}

			app-header {
				height: 42px;
				background: var(--light-primary-color);
			}

			#controls {
				padding-left: 1em;

				display: flex;
				justify-content: space-around;
				align-items: center;
			}

			.flex {
				flex: 1;
			}
		</style>
		<app-header-layout>
			<app-header fixed effects="waterfall">
				<div id="controls">
					<div>Last Seq: [[lastSeq]]</div>
					<div class="flex"></div>
					<paper-button on-tap="clear">Clear</paper-button>
					<paper-icon-button icon="refresh" on-tap="reload"></paper-icon-button>
				</div>
			</app-header>

			<iron-list id="list" target="document" items="[[logItems]]">
				<template>
					<cg-log-item index="[[index]]" data="[[item]]" on-iron-resize="_onResize"></cg-log-item>
				</template>
			</iron-list>
		</app-header-layout>
	</template>
	<script>
		Polymer({
			is: 'cg-log-window',
			properties: {
				logItems: {
					type: Array,
					value: () => []
				},
				lastSeq: Number
			},
			ready() {
				this.rebuildList()
				CGBridge.on('logdoc', (doc, seq) => {
					this.lastSeq = seq
					this.unshift('logItems', doc)
				})
			},
			clear() {
				this.logItems = []
			},
			reload() {
				window.location.reload()
			},
			_onResize(event) {
				try {
					this.$.list.updateSizeForItem(event.target.index)
				} catch (err) {}
				this.$.list.updateViewportBoundaries()
			}
		})
	</script>
</dom-module>
