<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="packet.html">

<dom-module id="cg-packet-list">
  <template>
    <style>
      :host {
        display: block;
      }

      cg-packet {
        margin: 5px;
        will-change: transform;
        transition: 0.2s ease-in-out;
      }
    </style>
    <div id="container"></div>
  </template>
  <script>
    Polymer({
      is: 'cg-packet-list',
      behaviors: [ Polymer.NeonAnimationRunnerBehavior ],
      listeners: {
        'neon-animation-finish': '_insertPacketOnTop'
      },
      ready() {
        CGBridge.on('packet', packet => {
          this._packet = packet

          // When >20 elements are here, reuse the last one
          if(this.$.container.childElementCount > 20) {
            this._target = this.$.container.lastChild

            // Animate exit of the element being recycled
            // It will be reinserted at the end of the animation
            return this._animateExit()
          }

          // Not 20 elements yet... keep creating!
          this._target = new CGPacket()

          // Trigger insertion
          this._insertPacketOnTop()
        })
      },
      _animateEntry() {
        this.animationConfig = [
          {
            type: 'entry',
            animatable: this._target
          }
        ]

        this.playAnimation()
      },
      _animateExit() {
        this.animationConfig = [
          {
            type: 'exit',
            animatable: this._target
          }
        ]

        this.playAnimation()
      },
      _insertPacketOnTop() {
        if(!this._target) return

        // Set the packet to what it should be
        this._target.packet = this._packet

        // Insert element at the top of the list and animate its entry
        this.$.container.insertAdjacentElement('afterbegin', this._target)
        this._animateEntry()

        // Reset _target and _packet, avoid being called again
        this._target = undefined
        this._packet = undefined
      }
    })
  </script>
</dom-module>
