<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/neon-animation/animations/slide-from-bottom-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/slide-up-animation.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../lib/custom-validator.html">
<link rel="import" href="../../lib/style.html">

<dom-module id="cg-dialog-name">
	<template>
		<style>
			:host {
				display: block;
			}

			app-header {
				background-color: var(--default-primary-color);
				color: var(--text-primary-color);
				-webkit-app-region: drag;
				user-select: none;
				-webkit-user-select: none;
			}

			.content {
				padding: 0 1em;
			}

			.main {
				margin-top: 0;
				@apply(--layout-vertical);
			}

			.buttons {
				margin-top: 1em;
				align-items: center;

				@apply(--layout-horizontal);
			}
		</style>
		<app-header fixed>
			<app-toolbar>
				<div main-title>Set station name</div>
			</app-toolbar>
		</app-header>
		<div class="content">
			<div class="main">
				<p>Please set the station name according to protocol.</p>
				<p>The first field may contain the previous station name, confirm it as stated in the Station Operation Protocol.</p>
				<p><strong>This cannot be changed without restarting the app.</strong></p>

				<custom-validator id="validatorName" validator-name="validateName"></custom-validator>
				<paper-input id="name" autofocus auto-validate validator="validateName" invalid="{{nameInvalid}}" label="Station Name" value="{{name}}"></paper-input>

				<custom-validator id="validatorNameConfirm" validator-name="validateNameConfirm"></custom-validator>
				<paper-input id="nameConfirm" auto-validate validator="validateNameConfirm" invalid="{{nameConfirmInvalid}}" label="Confirm Station Name" value="{{nameConfirm}}" on-keypress="_autoSubmitOnEnter"></paper-input>
			</div>
			<div class="buttons">
				<paper-spinner active="[[spinnerActive]]"></paper-spinner>
				<paper-button on-click="_exit" >Exit Station Software</paper-button>
				<paper-button id="continueBtn" raised disabled="[[continueBtnDisable]]" on-click="_continue">
					Continue
				</paper-button>
			</div>
		</div>
	</template>
	<script>
		Polymer({
			is: 'cg-dialog-name',
			properties: {
				name: String,
				nameConfirm: String,
				nameInvalid: Boolean,
				nameConfirmInvalid: Boolean,
				continueBtnDisable: {
					type: Boolean,
					computed: '_computeContinueBtnDisable(nameInvalid, nameConfirmInvalid)'
				},
				spinnerActive: {
					type: Boolean,
					value: false
				}
			},
			ready() {
				// Setup validators
				this.$.validatorName.validate = this._validateName.bind(this)
				this.$.validatorNameConfirm.validate = this._validateNameConfirm.bind(this)

				// If we have an existing name, fill it in and ask for confirmation
				this.name = localStorage.oldName || this.name
			},
			_validateName(value) {
				return !!value
			},
			_validateNameConfirm(value) {
				return !!value && (value === this.name)
			},
			_computeContinueBtnDisable(nameInvalid, nameConfirmInvalid) {
				// The button is not disabled by default with just validations...
				return !(nameInvalid === false && nameConfirmInvalid === false && this.name)
			},
			_exit() {
				CGBridge.emit('exit')
			},
			_continue() {
				// Make sure we're good!
				if (!this.$.name.validate() || !this.$.nameConfirm.validate()) {
					return
				}

				// Save name for easier startup
				localStorage.oldName = this.name

				// Show the spinner
				this.spinnerActive = true

				this.$.name.disable = true
				this.$.nameConfirm.disable = true
				this.$.continueBtn.disable = true

				// Send the name over!
				CGBridge.emit(this.name, this.nameConfirm)
			},
			_autoSubmitOnEnter(e) {
				if (e.charCode === 13) {
					this._continue()
				}
			}
		})
	</script>
</dom-module>
